::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.nav-link {
    font-size: xx-small;
}

.nav-item {
    cursor: pointer;
    text-align: center;
}

.custom-nav {
    position: fixed;
    background-color: #303030;
    z-index: 1000;
    width: 100%;
}

.container-cards {
    text-align: center;
    align-items: center;
}

.custom-card {
    width: 15rem;
    height: 25rem;
    margin: 2rem;
    float: left;
}

@media screen and (max-width: 400px) {
    #main {
        padding-top: 5rem;
    }
}

@media screen and (min-width: 400px) {
    #main {
        padding-top: 5rem;
    }
}